body{
    background-color: #f2f2f2 ;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    
}

header{
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #888888;

}

nav{
    background-color: rgb(155, 153, 153);
    padding: 8px;
    
    border-radius: 8px;
}

nav > a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-right: 40px;
}

nav a:hover{
    transition: 0.7s;  
    border-color:rgb(214, 214, 214);
    color: black;  
    background-color: rgb(222, 222, 222);
    border-radius: 6px;
}

main{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-weight: bolder;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section{
    width: 65%;
}

article.art1{
    background-color: #fff;
    padding: 240px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #888888;
}

article.art2{
    background-color: #fff;
    padding: 0px;
    border-radius: 10px;
    margin-top: 15px;
}

aside.art{
    position: relative;
    float: right;
    height: 0px;
    width: 10px; 
    margin: 10px;
    background-color: aliceblue;
    top: -110px;  
    text-align: center;
    border-radius: 10px;
}

aside.site{
    position: relative;
    float: right;
    height: 218px;
    width: 114px;
    margin: 11px;
    background-color: #fff;
    border-radius: 10px;
    top: -510px;
    left: 248px;
    box-shadow: 0px 0px 10px #888888;
}

.centro{
    margin-right: 10px;
    float: left;
    width: 100%;
    height: 550px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #888888;
    border-radius: 10px;
    
}

.clear{
    clear: both;
}

.icon{
    width: 4%;
    
}

