body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.create-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #888888;
    max-width: 500px;
    margin: 0 auto;
}

.label{
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 0.3s ease;
    box-shadow: 0px 0px 5px #888888;
}
input[type=text]:hover, input[type=email]:hover, input[type=password]:hover{
    background-color: rgb(224, 224, 224);
    transition: 0.3 ease;
}
button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s ease;
}
button[type=submit]:hover {
    background-color: #45a049;
}