body {
    background-color: #f2f2f2; 
  }
  .login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .login {
    margin: auto;
    width: 300px;
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #888888;
  }
  
  
  form {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  
  label {
    color: #333;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  input[type=text], input[type=password] {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #888888;
    transition: 0.3s ;
  }

  input[type=text]:hover, input[type=password]:hover {
    background-color: rgb(224, 224, 224);
    transition: 0.3 ease;
  }
  
  button[type=submit] {
    background-color: #008CBA;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type=submit]:hover {
    background-color: #006080;
  }

  .esqueci{
    text-decoration: none;
    color: #008CBA;
    width: 100%;
    margin: 24.7px;
  }
  .criarconta{
    text-decoration: none;
    color: #008CBA;
    width: 100%;
  }
  .esqueci:hover, .criarconta:hover{
    text-decoration: underline;
    color: #006080;
  }
  
  .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }